.contact-details-card{
  width: 8rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #130f2a;
  border-radius: 0.65rem;
  border: 1.5px solid #6751b9;
  padding: 1rem;
  margin: .3rem;
  gap: 1rem;
}

.contact-details-card .icon{
  width: 4rem;
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  background: #b8aaec;
}

.icon img{
  width: 2.8rem;
  height: auto;
  object-fit: contain;
}

.contact-details-card a{
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  color: white;
}